@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: #1B232A;
    height: 100%;
    width: 100vw;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}
.navbar-brand {
    padding-left: 12px;
    font-family: "Mina", sans-serif;
    font-weight: bolder;
    display: flex;
}
.navbar-brand img {
    margin-top: -1px;
}
.navbar-brand .content {
    padding-left: 10px;
}
.navbar ul {
    font-family: Arial, Helvetica, sans-serif;
}

.sec3 {
    padding-bottom: 5rem;
    font-family: "Work Sans", sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    

}
.sec3 .cards {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3 .cards .container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 5rem;
}
.sec3 .cards .container1 .card {
    margin: 20px;
    max-width: 24rem;
    height: 400px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(122.18deg, rgba(229, 237, 236, 0.27) 1.1%, rgba(196, 196, 196, 0) 112.06%);
    box-shadow: 0px 4px 12px 2px rgb(0 0 0 / 19%);
    border-radius: 33px 33px 33px 100px;
}
.sec3 .cards .container1 .card a img {
    width: 85%;
    height: auto;
    padding: 0px 8px;
    margin-left: 7%;
}
.sec3 .cards .container1 .card a {
    text-decoration: none;
}
.sec3 .cards .container1 .card a h3,
.sec3 .cards .container1 .card a h4 {
    margin: 15px 20px;
    color: rgb(0, 0, 0);
}
.sec3 .cards .container1 .card a h3{
    font-size: 1.4rem;
    text-align: center;

}
.sec3 .cards .container1 .card a h4{
    font-size: 1.2rem;
    text-align: right;
    position: relative;
    top: 2rem;

}
.inmedium {
    margin-top: 30px !important;
    color: #51aeff;
    display: flex;
    justify-content: center;
    text-align: center;
}
.inmedium a {
    text-decoration: none;
}
.inmedium button {
    border: none;

    background: white;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 8.5em;
    height: 3em;
    border-radius: 13px;
}
.inmedium button:hover {
    color: #51aeff;
}
.inmedium .fas{
    margin-left: .5rem;
    color: #51aeff;
}

/*footer*/
footer {
    background-color: black;
    color: white;
    width: 100%;
}
.copyright {
    align-self: center;
}
.copy a {
    text-decoration: none;
    color: white;
}
.copy a:hover {
    color: wheat;
}

.loader {
    width: 100vw;
    height: calc(99vh - 5px);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #dce1e6;
}
.loader span {
    display: block;
    height: 30px;
    width: 30px;
    margin: 5px;
    background-color: #77a5ce;
    border-radius: 50%;
    animation: loader 2s linear infinite;
    transition: ease 2s;
}
span:nth-child(1) {
    animation-delay: 5ms;
}
span:nth-child(2) {
    animation-delay: 10ms;
}
span:nth-child(3) {
    animation-delay: 15ms;
}
span:nth-child(4) {
    animation-delay: 20ms;
}
@keyframes loader {
    10% {
        background: #51aeff;
    }
    20% {
        background: #3382c7;
    }
}
@media (max-width: 576px) {
    h3,
    h4 {
        width: 80%;
    }
}
@media (max-width: 400px) {
    .sec3 .cards .container1 {
        margin: 5px;
    }
    .sec3 .cards .container1 .card {
        width: 100% !important;
        margin: 20px 0px;
    }
    .sec3 .cards .container1 .card a img {
        width: 90%;
        height: auto;
        margin: 2%;
    }
}
@media (max-width: 380px) {
    .navbar-brand .content {
        display: none;
    }
}
