@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background: #dce1e6;
    height: 100%;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}

/*nav*/
.header {
    width: 100vw;
}
.bg-light {
    background-color: #000111 !important;
}
.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}
.navbar-brand {
    padding-left: 12px;
    font-family: "Mina", sans-serif;
    font-weight: bolder;
    display: flex;
}
.navbar-brand img {
    margin-top: -1px;
}
.navbar-brand .content {
    padding-left: 10px;
}
.home {
    width: 2em;
    border: none;
    background: black;
}
.home .fa {
    color: white;
}

/*latest*/
.wrapper {
    margin-top: 90px;
    min-height: calc(100vh - (106px + 56px));
    position: relative;
}
.col-12 {
    display: flex;
    justify-content: space-evenly;
}
.older {
    width: fit-content;

    margin-top: 20px;
    background: #fff;
    border-radius: 23px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.older img {
    height: 10rem;
    width: 20rem;
    margin: 20px;
}
.old-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.old-content {
    color: black;
    padding-left: 20px;
    font-family: "Saira", sans-serif;
    max-width: 20rem !important;
}
.old-content h3 {
    font-size: medium;
    color: black;
    padding-left: 20px;
    font-family: "Saira", sans-serif;
}

/*footer*/
footer {
    background-color: black;
    color: white;
    margin-top: 1rem;
    width: 100%;
}
.copyright {
    align-self: center;
}
.copy a {
    text-decoration: none;
    color: white;
}
.copy a:hover {
    color: wheat;
}

.loader {
    width: 100vw;
    height: calc(99vh - 5px);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #dce1e6;
}
.loader span {
    display: block;
    height: 30px;
    width: 30px;
    margin: 5px;
    background-color: #77a5ce;
    border-radius: 50%;
    animation: loader 2s linear infinite;
    transition: ease 2s;
}
span:nth-child(1) {
    animation-delay: 5ms;
}
span:nth-child(2) {
    animation-delay: 10ms;
}
span:nth-child(3) {
    animation-delay: 15ms;
}
span:nth-child(4) {
    animation-delay: 20ms;
}
@keyframes loader {
    10% {
        background: #51aeff;
    }
    20% {
        background: #3382c7;
    }
}
@media (max-width: 380px) {
    .navbar-brand .content {
        display: none;
    }
}
