.main {
    background-color: #1b232a;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.main .main-content {
    justify-content: flex;
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.main .row {
    height: calc(100vh - 56px);
}
.main .main-hero {
    background-image: url("../assets/hero.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
    background-size: contain;
}
.heading {
    text-align: center;
    color: #51aeff;
    font-size: 2.5rem;
    font-weight: bolder;
}
.typed {
    font-family: "Cairo", sans-serif;
    font-weight: bolder;
    font-size: larger;
}
.typed-cursor {
    font-family: "Cairo", sans-serif;
    font-weight: bolder;
    font-size: larger;
}
.button {
    display: flex;
    justify-content: center;
}
.joinus {
    width: 8em;
    height: 1.8em;
    border-radius: 0.5em;
    background-color: #51aeff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    border: none;
    font-weight: bold;
}
.joinus:hover {
    background: transparent;
    border: solid #51aeff;
    transition: 1s ease;
}
.joinus p {
    margin: 10px;
    font-size: 1em;
}
