.slider {
    background: rgb(255, 255, 255);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 30);
}

.slide {
    height: 100px;
    width: 250px;
}
.slide img {
    width: 230px;
    margin: 0px 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 15));
    }
}
