/*contact*/
.contact {
    background: linear-gradient(180deg, #1b232a 0%, #161616 100%);
}

.form-control {
    width: 40rem !important;
    color: white;
    transition: none;
    border: none;
    border-radius: 37px;

    border: 2px solid white;
}
input[placeholder],
[placeholder],
*[placeholder] {
    color: black;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 14px;
}
::placeholder {
    color: black !important;
    opacity: 0.8 !important;
}
.form-control:focus {
    background: #c4c4c4;
    color: black;
}
.input-group {
    width: 40rem;
}
.input-group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

#validationCustomUsername-error {
    width: 100%;
}
#submit-form {
    color: red;

    justify-content: center;
}
#submit-form .row .input-group {
    padding: 0;
}
.button .btn-primary {
    background-color: #51aeff;
    border-radius: 14px;
    width: 150px;
}
.button .btn-primary:hover {
    background-color: #86b9e6;
    color: black;
}
.mail-phone {
    color: white;
}
.mail-phone h5 {
    font-weight: bold;
}
.mail-phone .fa {
    display: initial !important;
    color: white;
}

.mail-phone a {
    color: white;
    text-decoration: none;
}
.mail-phone a:hover {
    color: silver;
}

.icons a {
    text-decoration: none;
}
.icons .btn-primary {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 2px solid white;
    border-radius: 50%;
}
.icons .btn-primary:hover {
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    color: white;
}

/*footer*/
footer {
    background-color: black;
    color: white;
}
.copyright {
    align-self: center;
}
.copy a {
    text-decoration: none;
    color: white;
}
.copy a:hover {
    color: wheat;
}
